<!DOCTYPE html>
<html>
<head>
<title>affichage des films de la videotheque</title>
</head>
<body>
<h1>Voici la liste des films disponibles</h1>
<table>
    <tr>
      <td width="10%">titre:</td><br/><br/>
      <td width="10%">annee:</td>
      <td width="10%">realisateur nom:</td>
      <td width="10%">realisateur prenom:</td>

    </tr>
    <hr/>
    {% for datas in data %}
    <tr>
      <td width="10%">{{ datas['titre']}}</td>
      <td width="10%">{{ datas['annee']}}</td>
      <td width="10%">{{ datas['realisateur']['nom']}}</td>
      <td width="10%">{{ datas['realisateur']['prenom']}}</td>

    </tr>
{% endfor %}
  </table>
<hr/>
<tr>
<a href="http://127.0.0.1:5000/post_films"><input type="submit" value="ajouter"></a>
<input type="submit" value="modifier">
<input type="submit" value="supprimer">
<input type="submit" value="update">
</tr>
      </body>      
</html>
