html>
    <head>
        <title>rechercher des films</title>
        <meta charset="utf-8"/>

</head>
    <body>


            <form id="start" action="/">
                <h1>recherche  &degrave;  films</h1>
                   <p>
                   <br/>
                    <label for="name"><b>titre:</b></label> <br/>
                    <input id="name" type="text" />

                   </p>

                   <p>
                    <label for="anne"><b>Annee:</b></label><br/>
                    <input id="anne" type="password" /> </p>
                  <p>
                   <label for="acteur"><b>Acteur:</b></label><br/>
                    <input id="acteur" type="text"/>
                 <p>
                <input type="submit" value="Ajouter">
            </form>
 </body>

</html>


