<DOCTYPE html>
    <html>
    <head>
        <title>Videotheque</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="videotheque.css">
    </head>
    <body>
	<h1>Bienvenue sur notre site d'hebergement des films et des videos d'auto-formations!</h1>
        <nav>
                <ul>
                    <li class="deroulant"> <a href="http://127.0.0.1:5000/afficher_films">listes des films disponibles &ensp;</a>
                        </ul class="sous">
                            <li><a href="#" class="lien"> film1</a></li>
                            <li><a href="#" class="lien"> film2</a></li>
                            <li><a href="#" class="lien">film3</a></li>
                        </ul>
                    </li>
                    <li class="derount"> <a href="Articles &ensp;"></a>
                        <ul class="sous">
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Actualités</a></li>

                        </ul>


                    </li>
                    <li><a href="#">Aide</a></li>
                    <li><a href="#">A propos</a></li>
                <ul>
        </nav>

    </body>
</html>
