<form action="http://127.0.0.1:5001/films" method="post">
    <label for="title">Titre :</label>
    <input type="text" id="title" name="title"><br><br>

    <label for="description">annee :</label>
    <textarea id="description" name="description"></textarea><br><br>

    <label for="release_date">realisateur nom :</label>
    <input type="date" id="release_date" name="release_date"><br><br>

    <label for="duration">realisateur prenom :</label>
    <input type="text" id="duration" name="duration"><br><br>

    <input type="submit" value="Ajouter le film">
</form>

<form method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }} {{ form.title() }}
    </div>
    <div>
        {{ form.description.label }} {{ form.description() }}
    </div>
    <div>
        {{ form.release_date.label }} {{ form.release_date() }}
    </div>
    <div>
        <input type="submit" value="Add film">
    </div>
</form>
